*{margin:0;}
body{
	background: #bdbdbe;
	font-family: arial;
	font-size:14;
	line-height:22px;
	width:1020PX;
	margin: 0 auto;
    background-image: url(img/background2.jpg);
    background-size: auto;
    background-attachment: fixed;
    background-position:center;
}
.header{
	overflow: hidden;
	padding:20px 0;
    margin-bottom: 40px;
}
.logo{
	width: 20%;
	float: left;
}
.logo a img{
    
}
.manu{
	width:80%;
	float: right;
}

.menu ul{
	margin: 0;
	list-style: none;
	padding: 0;
    background: #2e5162;
	height: 52px;
	width: 100%;
	text-align: center
	
}
.menu ul li{
	display: inline-block;
	
}
.menu ul li a{
	padding : 15px 25px;
	display: block;
	text-decoration: none;
	font-size: 16px;
	color: #f2faef
	
}
.menu ul li a:hover{
	color:#ffc926;
	background: #000000;
}
main{
	overflow: hidden;

}
.sidebar{
	width: 12%;
	float: left;
	background:rgba(0, 0, 0, 0.58) ;
	padding: 10px;
}
.single-sidebar{
	background:#ffffff;
	margin:20px 0;
	padding:5px;
}
.single-sidebar:fist-child{
	margin: 0 0 20px 0;
}
.single-sidebar:last-child{
    margin: 20px 0 0 0;
}
.single-sidebar h2{
    font-size: 18px;
    color: aquamarine;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    
}
.singlesidebar ul{
    margin: 0;
	padding: 0;
	list-style: none;
}
.single-sidebar ul li{
	padding: 5px 0;
	border-bottom: 1px solid #cccccc;
}
.single-sidebar ul li:last-child{
	border-bottom: 0 solid #cccccc;
}
.single-sidebar ul li a{
	text-decoration: none;
	color: #AD0A03;
}
.single-sidebar ul li a:hover{
	color: #000000;
}
.content{
	width:75%;
	float: right;
    color: #fff;
}
.content img{
    width: 200px;
    float: left;
    padding: 2px 9px 3px 9px;
    border: 20px;
    
}